<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polewearshop.admin.dao.AdminDAO">

	<select id="selectAdmin" resultType="com.polewearshop.admin.model.Admin">
		SELECT
			`id`
			,`adminId`
			,`adminPassword`
		FROM
			`admin`
		WHERE
			`adminId`= #{adminId}
	</select>

</mapper>