<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.polewearshop.basket.dao.BasketDAO">
 	<insert id="addBasket" parameterType="com.polewearshop.basket.model.Basket"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `basket`
 		(
			`productId`
			,`memberId`
			,`count`
			,`color`
			,`size`
			,`price`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			,#{memberId}
 			,#{count}
 			,#{color}
 			,#{size}
 			,#{price}
 			,NOW()
 			,NOW()
 		)
 		
 	</insert>
 	
 	<select id="selectBasketListByBasketNumber" resultType="com.polewearshop.basket.model.Basket">
 		SELECT
 			`id`
 			,`basketNumber`
			,`memberId`
 		 	,`productId`
			,`count`
			,`color`
			,`size`
			,`price`
			,`createdAt`
			,`updatedAt`
 		From `basket`
 		WHERE
 			`basketNumber` = #{basketNumber}
 	</select>
 	
 	<select id="selectBasketListByMemberId" resultType="com.polewearshop.basket.model.Basket">
 		SELECT
 			`id`
 			,`basketNumber`
			,`memberId`
 		 	,`productId`
			,`count`
			,`color`
			,`size`
			,`price`
			,`createdAt`
			,`updatedAt`
 		From `basket`
 		WHERE
 			`memberId` = #{memberId}
 	</select>
 	
 	<update id="updateBasketNumberById" parameterType="map">
 		UPDATE `basket`
 		SET `basketNumber` = #{basketNumber}
 		WHERE
 			`id` = #{id}
 	
 	</update>
 	
 	<update id="updateMemberIdByBasketNumber" parameterType="map">
 	 	UPDATE `basket`
 		SET `memberId` = #{memberId}
 		WHERE
 			`basketNumber` = #{basketNumber}
 	</update>
 	
 	<delete id="deleteBasketByBasketNumber">
		DELETE FROM `basket`
		WHERE
			`basketNumber` = #{basketNumber} 	
 	</delete>
 	
 	 <delete id="deleteBasketById">
		DELETE FROM `basket`
		WHERE
			`id` = #{id} 	
 	</delete>
 	
 	
 </mapper>