<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.polewearshop.basket.dao.BasketDAO">
 	<insert id="addBasket" parameterType="com.polewearshop.basket.model.Basket"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 		(
			`productId`
			,`count`
			,`color`
			,`size`
			,`price`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			,#{count}
 			,#{color}
 			,#{size}
 			,#{price}
 			,NOW()
 			,NOW()
 		)
 		
 	</insert>
 	
 	<update id="updateBasketNumberById">
 		UPDATE `basket`
 		SET `basketNumber` = #{id}
 		WHERE
 			`id` = #{id}
 	
 	</update>
 </mapper>