<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.polewearshop.calendar.dao.CalendarDAO" >
	<insert id="insertCalendar">
		INSERT INTO `calendar`
		(
			`title`
			,`start`
			,`end`
			,`backgroundColor`
			,`studioId`
			,`reserveId`
		)
		VALUES
		(
			#{title}
			,#{start}
			,#{end}
			,#{backgroundColor}
			,#{studioId}
			,#{reserveId}
		)
	
	</insert>

	<select id="selectCalendarList" parameterType="int" resultType="com.polewearshop.calendar.model.Calendar">
		SELECT
			`id`
		 	,`title`
			,`start`
			,`end`
			,`backgroundColor`
			,`studioId`
			,`reserveId`
		FROM
			`calendar`
		WHERE
			`studioId` = #{studioId}
	</select>

	<delete id="deleteCalendar">
		DELETE FROM
			`calendar`
		WHERE
		 	`reserveId` = #{reserveId}
	</delete>
</mapper>