<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.polewearshop.user.dao.UserDAO">
  <select id="selectMember" resultType="com.polewearshop.user.model.Member">
	 	SELECT
	 		`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`address`
			,`sex`
			,`birth`
			,`mileage`
			,`createdAt`
			,`updatedAt`
	 	
	 	FROM `member`
	 	
	 	WHERE
	 		 loginId = #{loginId} 	
 </select>
 
 	<select id="selectMembetById" resultType="com.polewearshop.user.model.Member">
 		SELECT
	 		`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`address`
			,`sex`
			,`birth`
			,`mileage`
			,`createdAt`
			,`updatedAt`
	 	FROM `member`
	 	WHERE
	 		 id = #{id} 	
 	
 	
 	</select>
   <select id="selectMemberByLoginIdPassword" parameterType="map" resultType="com.polewearshop.user.model.Member">
	 	SELECT
	 		`id`
			,`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`address`
			,`sex`
			,`birth`
			,`mileage`
			,`createdAt`
			,`updatedAt`
	 	
	 	FROM `member`
	 	
	 	WHERE
	 		 loginId = #{loginId} 	
	 		 AND password = #{password}
 </select>
 
 
 <insert id="insertMember" parameterType="map">
 	INSERT INTO `member`
 			(
 			`loginId`
			,`password`
			,`name`
			,`phoneNumber`
			,`email`
			,`address`
			,`sex`
			,`birth`
			,`createdAt`
			,`updatedAt`
			)
 	VALUES
 			(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{phoneNumber}
 			,#{email}
 			,#{address}
 			,#{sex}
 			,#{birth}
 			,NOW()
 			,NOW()
 			)
 	
 </insert>
 
 <update id="updateMileageById" parameterType="map">
 	UPDATE `member`
 	SET 
 		`mileage` = #{mileage}
 	WHERE
 		`id` = #{id}
 </update>
 
 <update id="updateMemberInfoById">
  	UPDATE `member`
 	SET 
 		`name` = #{name}
 		,`address` = #{address}
 		,`email` = #{email}
 		,`phoneNumber` = #{phoneNumber}
 	WHERE
 		`id` = #{id}
 
 </update>
 
 </mapper>
