<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.polewearshop.product.dao.ProductDAO">
	<insert id="insertProduct" parameterType="com.polewearshop.product.model.Product" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO `product`
	(
		`productNumber`
		,`type`
		,`productName`
		,`content`
		,`price`
		,`stock`
		,`createdAt`
		,`updatedAt`
	)
	VALUES
	(
		#{productNumber}
		,#{type}
		,#{productName}
		,#{content}
		,#{price}
		,#{stock}
		,NOW()
		,NOW()
	)
	</insert>
 
 	<select id="selectProductById" resultType="com.polewearshop.product.model.Product">
 		SELECT
	 		`id`
	 		,`productNumber`
			,`type`
			,`productName`
			,`content`
			,`price`
			,`stock`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		WHERE
			`id`= #{productId}
 	</select>
 	
 	
 
 	<select id="selectProductListByType" resultType="com.polewearshop.product.model.Product">
 		SELECT
	 		`id`
	 		,`productNumber`
			,`type`
			,`productName`
			,`content`
			,`price`
			,`stock`
			,`createdAt`
			,`updatedAt`
		FROM
			`product`
		<if test=" type != null ">
		WHERE
			`type` = #{type}
		</if>
		ORDER BY 
			`id` DESC;
 	</select>
 	
 	<update id="updateProductById" parameterType="map">
 		UPDATE `product`
 		SET
 			productNumber` = #{productNumber}
			,`type` = #{type}
			,`productName` = #{productName}
			,`content` = #{content}
			,`price` = #{price}
			,`stock` = #{stock}
			,`updatedAt` = NOW()
		WHERE
			`id` = #{id}
 	
 	</update>
 	
 	<delete id="deleteProductById">
	 	DELETE FROM `product`
	 	WHERE
	 		`id` = #{productId}
 	</delete>
 	
 	
</mapper>