<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.polewearshop.product.dao.ProductImagesDAO">
	
	<select id="selectProductImagesListByProductId" resultType="com.polewearshop.product.model.ProductImages">
		SELECT 
			`productId`
			,`productImagePath`
			,`createdAt`
			,`updatedAt`
		FROM 
			`productImages`
		WHERE
			`productId` = #{productId}
	
	</select>


 	<insert id="insertProductImages" parameterType="map">
 		INSERT INTO `productImages`
 		(
 			`productId`
			,`productImagePath`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
 			,#{productImagePath}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<update id="updateProductImagestoNullByimagePath" >
 		UPDATE `productImages`
 		SET
 			`productImagePath` = null
 			, `updatedAt` = NOW()
 		WHERE
 			`productId` = #{productId}
 		AND `productImagePath` = #{productImagePath}
 	</update>
 	
 	
 	 <delete id="deleteProductImageByimagePath" parameterType="map">
 		DELETE FROM `productImages`
 		WHERE
 			`productId` = #{productId}
 		AND
 			`productImagePath` = #{productImagePath}
 	</delete>
 	
 	<delete id="deleteProductImagesdbByProductId">
 		DELETE FROM `productImages`
 		WHERE
 			`productId` = #{productId}
 	</delete>
 	
 	
</mapper>