<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.polewearshop.qna.dao.QnaDAO">
	<insert id="insertQna" parameterType="map">
		INSERT INTO `qna`
		(
			`category`
			,`subject`
			,`name`
			,`type`
			,`userNumber`
			,`productName`
			,`content`
			,`password`
			,`createdAt`
			,`updatedAt`
			
		)
		VALUES
		(
			#{category}
			,#{subject}
			,#{name}
			,#{type}
			,#{userNumber}
			,#{productName}
			,#{content}
			,#{password}
			,NOW()
			,NOW()
		)
		
	</insert>

	<select id="selectQnaNumber" resultType="int">
		SELECT
		 	COUNT(1)
		 FROM
		 	`qna`
	</select>

	<select id="selectQnaList" resultType="com.polewearshop.qna.model.Qna">
		SELECT
			`id`
			,`category`
			,`subject`
			,`name`
			,`type`
			,`userNumber`
			,`productName`
			,`content`
			,`password`
			,`createdAt`
			,`updatedAt`
		FROM
			`qna`
		ORDER BY
			`id` DESC
		LIMIT
			${first}, ${number}
	</select>
	
	<select id="selectQnaById"  resultType="com.polewearshop.qna.model.Qna">
		SELECT
			`id`
			,`category`
			,`subject`
			,`name`
			,`type`
			,`userNumber`
			,`productName`
			,`content`
			,`password`
			,`createdAt`
			,`updatedAt`
		FROM
			`qna`
		WHERE
			`id` = #{id}
	</select>
	
	<delete id="deleteQnaById">
		DELETE FROM `qna`
		WHERE
			`id` = #{id}
	</delete>

</mapper>