<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.polewearshop.product.dao.SizeDAO">
 	<insert id="insertSize" parameterType="map">
 		INSERT INTO `size`
 		(
 			`productId`
			,`size`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{productId}
			,#{size}
			,NOW()
			,NOW()
 		)
 	</insert>
 	
 	<select id="selectSizeListByProductId" resultType="com.polewearshop.product.model.Size">
		SELECT
			`productId`
			,`size`
			,`createdAt`
			,`updatedAt`
		FROM
			`size`
		WHERE
			`productId` = #{productId}
	
	</select>
</mapper>