/*gnb영역*/
#gnb {background-color: white; position: fixed }
#mainLogo {position: fixed;}
#userLogo {margin-left: auto; margin-right: 50px;}
#userLogo img {width: 40px; height: 40px;}
#basket_logo img {width: 40px; height: 40px; margin-right: 200px;}

.title:hover {text-decoration: none;}
.nav-font {font-size: 30px; font-weight: bold; color: #000; }
.nav-font:hover {color:#000;}

.dropdown {padding-top: 50px;}
.dropdown li ul {display:none;}
.dropdown li:hover ul{display:block;}
.dropdown li:hover {background-color: #ffe6e6; }

/*main페이지*/
.shop-sub a {font-size: 20px; font-weight: bold; color: #000;}
.shop-sub a:hover{background-color: #ffb3b3;}

#content {padding-top: 300px;}
#mainImage {margin: auto; display: block; width: 1000px; height: 400px;}

.random_product {margin:auto; width: 1000px;}
.random_product img {width: 300px; height: 350px; background-color: yellow;}
.product_box img{width: 300px; height: 400px;}

/*shop_list페이지*/
.product-box {margin:auto; width: 1000px;}
.product-box a{text-decoration: none;} 
.product-box img {width: 300px; height: 350px;}
.product-text1 {color: black; font-size: 20px; font-weight: bold; padding-left: 20px; }
.product-text2 {color: #333331; font-size: 18px; padding-left: 20px;}

/*shop_detailed_list페이지*/
.detailed-product-box {margin:auto; margin-top: 100px;}
.detailed-product-box img {width: 600px; height: 800px;}
.product-content-box {width: 300px; height: 400px;}
select {width: 200px;}

.signIn_box {width: 500px; margin: auto;}
.signUp_box {width: 900px; margin: auto;}
#passwordRule {padding-left: 102px; display: block;}
#possibleId {padding-left: 150px; font-weight: bold;}

/*member_order 페이지*/
.member_order_box {width: 1000px; margin: auto;}

.user_page_font {font-size: 25px; }
.basket_delete a {font-size: 25px; font-weight: bold; color: black;}

/*footer영역*/
.footerText{margin-top: 150px; margin-bottom: 100px; font-size: 13px; color: #999;}

